.chartWrapper {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 64px;
}

.wrapper {
    width: 100%;
}

.containerMain {
    margin-top: 64px;
    width: 100%;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.k-cahrt-toolip-wrapper {
    top: 0;
}